<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p class="MsoNormal" style="text-align: center; margin: 0cm 0cm 4.5pt 21.25pt; text-indent: -21.25pt;"><!--[if !supportLists]--><b><span style="font-variant:small-caps">6.<span style="font-variant-caps: normal; font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal;">        
</span></span></b><!--[endif]--><b><span style="font-variant:small-caps">ГАРАНТИЙНЫЕ</span></b> <b><span style="font-variant:small-caps">ОБЯЗАТЕЛЬСТВА<o:p></o:p></span></b></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.1<b> </b>Гарантийный срок на
Оборудование – 12 месяцев с момента подписания Акта пуско-наладочных работ, но
не более 13 месяцев с момента отгрузки
Оборудования Покупателю.<o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">Работы по гарантийному ремонту
оборудования выполняются только Продавцом. Для проведения гарантийного ремонта
наличие Гарантийного талона и наличие на оборудовании серийного номера,
присвоенного производителем обязательно. Отсутствие Гарантийного талона,
повреждение или удаление серийного номера могут служить основанием для отказа в
выполнении бесплатного ремонта Оборудования. <o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">К работе с оборудованием могут
быть допущены только сотрудники Покупателя, прошедшие обучение и указанные в
акте о проведении пусконаладочных работ. Эксплуатация оборудования
неквалифицированным (не прошедшим обучение у Продавца) лицами не допускается.<o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.2. Продавец не несёт
ответственность за дефекты и неисправности в Оборудовании, произошедшие
вследствие его неправильной эксплуатации, его использования не по назначению
или его несвоевременного регламентного и профилактического обслуживания. Несвоевременное
проведение, равно как и не проведение обслуживания, влечет за собой снятие
Оборудования с гарантийного обслуживания.<o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.3. Для
обеспечения нормальной и бесперебойной работы Оборудования Продавец обязуется: в срок не более двух рабочих
дней с момента запуска оборудования провести обучение персонала Покупателя, в
течение всего гарантийного срока, по требованию Покупателя, осуществлять к нему
выезды для проведения гарантийного ремонта, осуществлять консультации Покупателя
в режиме "горячей линии" по телефону +7 (999) 768-66-30.<o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify">6.4. Все выезды сервисного (ых) инженера
(ов) за пределы Московской Кольцевой Автомобильной Дороги (МКАД) Покупатель
оплачивает за счет собственных денежных средств: проезд до места установки
Оборудования и обратно, проживание инженера (в номере гостиницы с категорией не
менее 3 звезд). Суточные инженера оплачиваются согласно отдельно выставленному
счёту, из расчёта 1000 рублей в сутки. В случае, если проезд сервисного (ых) инженера
(ов) до места установки Оборудования и обратно, наземным транспортом (в любом
из направлений) превышает 12 часов, инженер вправе воспользоваться Авиационным
транспортом. В случае необходимости проведения работ инженером в выходные дни
Покупатель оплачивает 5000 рублей за каждый день работы. <o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify">Затраты по
отправке деталей Покупателю и возврат неисправных Покупатель (в случае
отсутствия необходимости выезда представителя
Продавца для замены) оплачивает за счёт собственных денежных средств.<o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.5. Гарантия не
распространяется. <o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.5.1. Гарантия не
распространяется на расходные материалы ресурсные узлы и детали, такие как: фетр, подшипники, мотор-редуктор, устройства подачи и
намотки материала), а также на любые детали, вышедшие из строя в следствии
механического повреждения. Работы по их замене не являются гарантийным ремонтом
и оплачивается в соответствии с тарифами Продавца.<o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.5.2. Гарантия не
распространяется на работы, связанные с настройкой и/или переустановкой
программного обеспечения на компьютере Покупателя.<o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.5.3. Работы,
связанные с выполнением операторских функций по обслуживанию оборудования,
прописанных в пользовательской (операторской) инструкции, в том числе: очистка
внешних и рабочих поверхностей, очистка рабочего стола, очистка датчиков
температуры, очистка фетра и рабочего барабана, смазка, протяжка резьбовых
соединений не являются гарантийным ремонтом и оплачиваются в соответствии с
действующими тарифами Продавца. <o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.5.4. Работы, связанные с
заменой ресурсных узлов и деталей, а также работы, связанные с заменой деталей,
вышедших из строя вследствие механического повреждения, не являются гарантийным
ремонтом и оплачиваются в соответствии с действующими тарифами Продавца.<o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.6. Работы, связанные с
перемещением Оборудования после подписания Акта запуска (демонтаж Оборудование
на старом месте, его консервация/расконсервация, установка на новом месте,
регулировка, настройка и т.д.), не являются гарантийными. Выполнение таких
работ подлежит дополнительному согласованию с Поставщиком и оплачивается
Покупателем в соответствии с действующими, на момент их проведения, тарифами Поставщика.<o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.7. Продавец вправе
прекратить исполнение гарантийного ремонта и сервисной поддержки по Договору,
если Покупатель не соблюдает требования по обслуживанию оборудования,
прописанному в пользовательской (операторской) инструкции.<o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">Продавец вправе прекратить
исполнение гарантийного ремонта и сервисной поддержки по Договору, если
Покупатель не соблюдает специальные условия по организации производственного
участка термофиксации, описанные в Приложении 1 настоящего Договора. <o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">Продавец вправе прекратить
исполнение гарантийного ремонта и сервисной поддержки по Договору, если
Покупатель привлёк не прошедший обучение у Продавца персонал или третьих лиц к
вводу в эксплуатацию, эксплуатации и обслуживанию Оборудования без письменного
согласия Продавца, а также, если Покупатель недобросовестно выполняет п.6.4
настоящего Договора.<o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.8. Основанием для проведения
гарантийного сервисного обслуживания является заявка Покупателя, отправленная
через интернет-форму, находящаяся по адресу: <a href="http://www.smart-t.help/"><span style="color:windowtext;mso-bidi-font-style:normal;text-decoration:none;
text-underline:none">http://www.smart-t.help</span></a><o:p></o:p></p>

<p class="MsoNormal" style="margin-bottom:4.5pt;text-align:justify;text-indent:
35.0pt">6.9. Продавец обязуется
осуществлять послегарантийное техническое обслуживание по текущим тарифам
Продавца.<o:p></o:p></p>


</body></html>