<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><title>"Поздравление"</title><meta charset="utf-8" http-equiv="content-type" content="text/html;charset=utf-8"></meta><style>
			body {
				font-family: Arial;
				margin: 0;
			}
			div img {
				width: 100%;
				height: auto;
				border: 0;
				margin: 0
			}
		</style></head><body>
		
<div>
			<a href="[СсылкаПереходКЛендингу]"><img src="data:image/png;base64,[ПоздравительнаяКартинка]" alt="Открытка"></img></a>
		</div>
	</body></html>